/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body { 
  height: 100%; 
}

body {
  background-color: rgb(246, 246, 246);
}

/* Navigation */

nav {
  width: 100%;
  height: 50px;
  background-color: rgb(159, 213, 105);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  flex-grow: 1;
  padding: 0 20px;
}

.login {
  padding: 0 20px;
}

/* Main content */

main {
  width: 1040px;
  display: grid;
  padding: 20px;
  background-color: rgb(43, 41, 44);
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(7, 80px); 
  gap: 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

main > * {
  border-radius: 5px;
  padding: 10px 20px;
}

header {
  background-color: rgb(165, 111, 73);
  grid-column: 1/6;
  grid-row: 0/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-top: 5px;
}

.movements {
  background-color: rgb(192, 255, 255);
  grid-column: 1/4;
  grid-row: 2/8;

}

.transfer {
  background-color: rgb(192, 148, 233);
  grid-column: 4/6;
  grid-row: 2/4;
}

.request {
  background-color: burlywood;
  grid-column: 4/6;
  grid-row: 4/6;
}

.close {
  background-color: gray;
  grid-column: 4/6;
  grid-row: 6/8;
}

form {
  display: flex;
  flex-wrap: wrap;
}

/* Footer */

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(159, 213, 105);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p:nth-child(odd) {
  font-weight: 600;
}

footer p {
  display:inline-block;
}